{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
   <h3  class="fas fa-whistle my-5">Home</h3>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Fluid jumbo heading</h1>
            <p class="lead">Jumbo helper text</p>
            <hr class="my-4">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
            </p>
        </div>
    </div>

</div>     




{% endblock content %}