{% extends 'rooms/base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-6 offset-3">
        <h3 class="alert alert-info">Update user</h3>
        <form class="" action="" method="post">
            {% csrf_token %}
       {{ form.as_p }}
            <input name="update"  class="btn btn-primary" type="submit" value="Update"></input>
            <a href ="{% url 'userHome'%}" value="Back" class="btn btn-info">Back</a>
        </form>   
        {{user.name }}
        </h3>
    </div>
</div>
{% endblock content %}

